<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HoopPass Verification Email</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100vw;">
        <img src="https://res.cloudinary.com/dexlqslwj/image/upload/v1745289459/NewHoopPass_iemrtv.svg" alt="logo-pic" style="width: 300px; height: 100px;" />
        <div
            style="width: 450px; height: 500px; background-color: ghostwhite; border-radius: 7px; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 7px; box-shadow: 1px 1px 5px 1px #aaaaaa;">
            <h2 style="text-align: center; padding: 20px;">Welcome To The HoopPass Community</h3>
            <hr style="width: 90%;">
            <h3 style="text-align: center; padding: 20px;">You're almost there {{username}}</h3>
            <img src="https://res.cloudinary.com/dexlqslwj/image/upload/v1745289460/MailFile_kfitnj.svg" alt="email-pic"
                    style="height: 70px; width: 70px; margin: 20px;">
            <p>Just click below to verify your email address</p>
            <a href={{link}} target="_blank" style="width: 50%; padding: 15px; border-radius: 10px; background-color: orange; font-weight: 600; cursor: pointer; margin: 10px; text-align: center;">Verify Email Address</a>
            <hr style="width: 20%; margin-top: 20px;">
            <p style="font-size: small; font-style: italic; text-align: center; padding: 20px">Please verify in 10 minutes or it will be expired. if you did not sign up for this account, you can ignore this email.</p>
        </div>
        <p style="font-size: small; margin-top: 20px;">&copy; HoopPass 2025</p>
    </div>
</body>
</html>